[Desktop Entry]
Name=LBreakout
Comment=Breakout-style aracade game
Comment[pl]=Gra zręcznościowa w stylu breakout
Exec=lbreakout
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
